<h1>New comment</h1>
<%# binding.pry %>
<%= form_for([post, post.comments.build]) do |f| %>
  <%#= f.error_messages %>
    <br />
    <%= f.text_area :description , placeholder:'Write a Comment', style:'width:100%; border-radius:20px;' %>
    <%= f.submit "Create", class:"btn btn-sm btn-outline-primary"  %>
  
<% end %>

