 <%= form_with model: @comment, method: :patch, local: false do |f| %>
  </br>
  <div class="form-group">
     <%= f.text_area :description, class:'form-control', placeholder:'Tell us more about your project...', id: "exampleTextarea", rows: "3" %>
  </div>
 </br>
  <div class="form-group clearfix">
    <%= f.submit id:'commentbutton', class: 'btn btn-primary btn-lg float-end' %>
  </div>
<% end %>
