<div class="sidebar">
  <ul>
        <li>
           <a href="<%= profile_index_path %>"> 
             <span class="icon"><i class="fas fa-user"></i></span>
             <span class="item">Profile</span>
           </a>
       </li>
       <li>
           <a href="<%#= freinds_path %>">
             <span class="icon"><i class="fas fa-user-friends"></i></span>
             <span class="item">Freinds</span>
          </a>
      </li>
      <li>
          <a href="<%#= posts_path %>">  
            <span class="icon"><i class="fas fa-user-friends"></i></span>
            <span class="item">Posts</span>
          </a>
     </li>
     <li>
         <a href="<%#= group_path %>">
          <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
          <span class="item">Group</span>
         </a>
     </li>
  </ul> 
</div>